[run]
omit =
    /usr/*
    */site-packages/*
    */dist-packages/*
    */distutils/*
    */tests/*
    *_test*

exclude_lines =
    no cover

    raise NotImplementedError

    def __str__
    def __repr__

    if 0:
    if False:
    if __name__ == .__main__.:

    except ImportError:

    if using_python_3
